@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";
@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;
:root {
  font-family: "Jaro";
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #FFBF08;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

